<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    </div>
                <div class="col-sm-4 offset-md-1 py-4">

                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Booking hoteli (projekt AS 2023)</strong>
            </a>
            <div class="d-flex" style="flex-direction: row">
                {% if is_granted("ROLE_USER") %}
                    <p style="color: white"> Hi {{ app.user.email }}</p>
                    {% if "ROLE_ADMIN" in app.user.roles %}
                        <a href="/admin" class="p-1">Panel administracyjny</a>
                    {% endif %}
                    <a href="/profile" class="p-1">Profil</a>
                    <a href="/logout" class="p-1">Wyloguj</a>
                {% else %}
                    <a href="/login" class="p-1">Zaloguj</a>
                    <a href="/register" class="p-1">Zarejestruj</a>
                {% endif %}
            </div>

        </div>
    </div>
</header>